<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <div class="container" style="background-color: inherit"> 
     <div style="position: sticky; top: 0; background-color: inherit; border-bottom: solid .1rem #ddd; margin-bottom: 1.4rem; padding: .2rem 0; z-index: 10">
         <a href="/">Home</a> |
         <a href="/cde">CDE</a> |
         <a href="/dawgctf">DawgCTF</a> |
         <a href="/history">Team History</a>
     </div>
    {{ content }}
    <hr>
  </div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
